<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/Authentication.js" defer type="module"></script>
    <title>Document</title>
</head>
<body>
    <h1>アカウント作成</h1>
    <div class="email">
        メールアドレス:
        <input type="email" id="inputEmail">
    </div>
    <div class="password">
        パスワード:
        <input type="password" id="inputPass">
    </div>
    <button id="CreateAccount">アカウント作成</button>

   <form action="/">
        <button type="submit">戻る</button>
    </form>
</body>
</html>